.landing-screen {
    background-image: url("../../Files/willowbackground.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    width: 100vw;
    height: 100vh;
    background-color: black;
    margin: 0 auto;
   
}
/* 
.landing-screen button{
    padding: 20px;
    margin: 0 auto;
    font-weight:600;

    display:flex;
    align-items: center;
    margin-top: 80px;
    border-radius: 5px;
   
} */

/* ---------------------------------------------------------------------------------------------- */
/* -------      Login Form          ---------------- */
/* ---------------------------------------------------------------------------------------------- */

.login-form {
    background: transparent;
    margin:0 auto;
    margin-top: 10vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    row-gap: 2vh;
    
}
input{
    padding: 1vh;
}

.login-username{
    color: white;
    border: none;
    display: flex;
}
.login-password {
    color: white;
    border: none;
    display: flex;
}

a:link { text-decoration: none; }


/* .login {
    background: transparent;
} */
button.login {
    align-self: center;
    margin: 5px;
    max-width: 120px;
    color: white;
    background: #ff6d44 !important;
    padding: 20px;
    border-radius:5px;
    border:none;
    box-shadow:  0.5px 0.5px 0 0.5px #c63b14,
                 0 0 0 1px rgb(255, 142, 142),
                -0.5px -1px 0 0.5px white,
                 3px 4px 10px 0.5px rgb(0, 0, 0);
    transition:  0.4s ease-in-out;
    /* transition: all 5s; */
    font-size: 1rem;
    font-weight:600;

}
button.login:hover{
    cursor: pointer;
    /* background-color:#ff6d44; */
    background:linear-gradient(90deg,
                     rgba(198,59,20,1) 0%, 
                     rgba(255,109,68,1) 18%, 
                     rgba(255,247,245,1) 50%, 
                     rgba(255,109,68,1) 77%, 
                     rgba(198,59,20,1) 100%) !important;
    transition:  5s ease-in-out;
}



/* ---------------------------------------------------------------------------------------------- */
/* -------      Sign Up        ---------------- */
/* ---------------------------------------------------------------------------------------------- */

.new-user {
    margin-top: 100px;
    display:flex;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    font-weight:600;

    display:flex;
    align-items: center;
    margin-top: 80px;
    background: transparent;
    
  
}
.new-user input {
    margin: 0;
    background: rgba(49, 2, 94, 0.476);
    color:#ffffff;
}
form {
    background: transparent;
}

.new-user button {
    margin: 0;
    padding: 20px;
    background-color:rgb(74, 4, 138);
    box-shadow: inset 5px 5px 14px #aa4af3,
                inset 5px 5px 14px #b794d1,
                inset 0 0 14px #d8c3e9;
    border-radius: 19px;
    color: white;
    
}